body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,99,253,0.038252801120448154) 50%, rgba(252,176,69,1) 100%);
}
h1{ 
    color : black;
    text-align: center;
}
h3{
    text-align: center;
}