{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=devide-width,initial-scale=1.0">
    <link rel ="stylesheet" href ="{% static 'myapp/home.css' %}">
    <title>Home</title>
</head>
<body>
     <h1> Hello , this is homepage created by Shilpa! </h1>
     <h3> This is just a test for Homepage </h3>
     <div style="text-align: center;">
     <img src="{% static 'images/carimage1.png' %}" style="width: 350px; height: 350px;" >
     </div>
    
    
</body>    
</html>