{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=devide-width,initial-scale=1.0">
    <link rel ="stylesheet" href="{% static 'myapp/index.css' %}">
    <title>Index</title>
</head>
<body>
     <h1> Hello , this is learnings from Shilpa! </h1>
     <h3> This is just a test page for index </h3>
     <div style="text-align: center;">
     <img src="{% static 'images/carimage2.png' %}" style="width: 350px; height: 350px;" >
     </div>
</body>     
</html>